Skip to content
 
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 @hwuebben Sign out
3
0 3 hwuebben/NatureInspiredAlgorithms
forked from Cypher42/NatureInspiredAlgorithms
 Code  Pull requests 0  Projects 0  Wiki  Insights  Settings
NatureInspiredAlgorithms/.gitignore
15036be  on 13 Apr
@hwuebben hwuebben using sorted pop list, implemented selection and replacement
@hwuebben @Cypher42
     
52 lines (40 sloc)  688 Bytes
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#project idea files
.idea
__pycache__

#stored experiment results
*.p
*.png